main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body {
    background-color: #122355;
    padding: 0px;
    margin: 0px;
}
.about {
    background-color: #ffffff;
    width: 20vw;
    margin-top: 10px;
    float: left;
}

.line {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #cf0033;
    text-align: center;
    word-spacing: 10px;
}

.line a {
    font-size: 40px;
    color: white;
    text-decoration: none;
}